<!-- inicio.html -->
<app-navbar></app-navbar>


<section class="py-5 bg-light">
  <!-- Card Notificaciones alineado a la izquierda -->
  <div class="d-flex justify-content-start mb-4" style="margin-left: 192px; margin-top: 50px;">
    <div class="card" style="width: 30rem;">
      <div class="huella-decorativa" style="top: 20%; left: 5%; transform: rotate(30deg);">🐾</div>
      <div class="card-body">
        <h5 class="card-title">Notificaciones</h5>
        <p class="card-text">Aún no tienes notificaciones.</p>
      </div>
    </div>
  </div>

  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">Mis mascotas</h2>
    <div class="d-flex justify-content-end mb-3">
      <button (click)="abrirModal()" class="btn-agregar">
        <span style="font-size: 22px;">&#43;</span> Agregar Mascota
      </button>
    </div>

    <!-- Modal solo para agregar -->
    <div *ngIf="mostrarModal" class="modal-overlay">
      <app-mascotaform 
        (guardarMascota)="agregarMascota($event)"
        (cerrarModal)="cerrarModal()">
      </app-mascotaform>
    </div>

    <!-- Listado de mascotas -->
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div *ngFor="let mascota of mascotas" class="col mb-5">
        <div class="card h-100 mb-4">
          <img class="card-img-top" [src]="mascota.foto || 'https://dummyimage.com/450x300/dee2e6/6c757d.jpg'" alt="Foto de {{mascota.nombre}}" />
          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="fw-bolder">{{mascota.nombre}}</h5>
              <p>{{mascota.raza}} - {{mascota.edad}} años</p>
            </div>
          </div>
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent pb-3">
            <div class="text-center d-flex flex-column flex-md-row justify-content-center gap-2">
              <a class="btn btn-outline-dark" [routerLink]="['/perfilmascota', mascota.idmascota]">Ver Información</a>
              <button class="btn btn-danger p-2" (click)="eliminarMascota(mascota.idmascota)">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<app-footer></app-footer>