<!-- mascota-form.component.html -->
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">
      @if (esEdicion) {
        Modificar Mascota
      } @else {
        Agregar Nueva Mascota
      }
    </h5>

    <button type="button" class="close" (click)="onCancel()">&times;</button>
  </div>
  <div class="modal-body">
    <form [formGroup]="mascotaForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" formControlName="nombre">
        @if (mascotaForm.get('nombre')?.invalid && mascotaForm.get('nombre')?.touched) {
          <div class="text-danger">
            Nombre es requerido
          </div>
        }
      </div>
      
      <div class="form-group">
        <label for="edad">Edad</label>
        <input type="number" class="form-control" id="edad" formControlName="edad">
        @if (mascotaForm.get('edad')?.invalid && mascotaForm.get('edad')?.touched) {
          <div class="text-danger">
            Edad es requerida y debe ser mayor o igual a 0
          </div>
        }
      </div>
      
      <div class="form-group">
        <label for="raza">Raza</label>
        <input type="text" class="form-control" id="raza" formControlName="raza">
        @if (mascotaForm.get('raza')?.invalid && mascotaForm.get('raza')?.touched) {
          <div class="text-danger">
            Raza es requerida
          </div>
        }
      </div>
      
      <div class="form-group">
        <label for="fechanac">Fecha de Nacimiento</label>
        <input type="date" class="form-control" id="fechanac" formControlName="fechanac">
        @if (mascotaForm.get('fechanac')?.invalid && mascotaForm.get('fechanac')?.touched) {
          <div class="text-danger">
            Fecha de nacimiento es requerida
          </div>
        }
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancelar</button>
        <button type="submit" class="btn btn-primary" [disabled]="mascotaForm.invalid">Guardar</button>
      </div>
    </form>
  </div>
</div>